<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="DatabaseConnectionString" value="Data Source=.\SQLEXPRESS2012;Initial Catalog=TestDb;User ID=TestUser;password=password;" />
  </appSettings>
</configuration>
